.map-container {
  top: 95px;
}
@media (max-width: 992px) {
  .map-container {
    top: 80px;
  }
}

.error-page-content {
  min-height: 100vh;
  text-align: center;
  position: relative;
  z-index: 5;
  // padding: 180px 0 15px;
}
.error-page-content .shape-one {
  bottom: 0;
  right: 0;
}

.not-found-page-content {
  min-height: 100vh;
  position: relative;
  @media (max-width: 992px) {
    padding: 80px 0;
    .not-found-page-text-container {
      text-align: center;
    }
  }
}

.pb-60 {
  padding-bottom: 60px;
}

.pt-120 {
  padding-top: 120px;
}
.pt-80 {
  padding-top: 80px;
}

.mt-130 {
  margin-top: 130px;
}
.mt-120 {
  margin-top: 120px;
}
.mt-110 {
  margin-top: 110px;
}
.mt-100 {
  margin-top: 100px;
}
.mt-90 {
  margin-top: 90px;
}
.mt-80 {
  margin-top: 80px;
}
@media (min-width: 992px) {
  .md-pt-130 {
    padding-top: 130px;
  }
  .md-pt-95 {
    padding-top: 95px;
  }

  .md-mt-130 {
    margin-top: 130px;
  }
  .md-mt-120 {
    margin-top: 120px;
  }
  .md-mt-110 {
    margin-top: 110px;
  }
  .md-mt-100 {
    margin-top: 100px;
  }
  .md-mt-95 {
    margin-top: 95px;
  }
  .md-mt-90 {
    margin-top: 90px;
  }
  .md-mt-80 {
    margin-top: 80px;
  }
}

.rounded-xl,
.rounded-xl img,
.rounded-xl > .plyr {
  border-radius: 0.8rem !important;
}

.offCanvasLogin {
  background: transparent !important;
  height: auto;
  width: min-content !important;
  // max-width: 300;
  border-right: none !important;
  pointer-events: none;
  .offCanvasLogin-body {
    // padding: 0;
    display: flex;
    align-items: end;
  }
  .card-offCanvasLogin {
    pointer-events: all;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.4rem;
    width: fit-content;
    box-shadow: 2px 2px 6px 3px rgba(30, 34, 40, 0.15);
    border: 0;
    padding: 1rem;
  }
}

.offCanvasNoZip {
  height: 90px !important;
  @media (max-width: 349px) {
    height: 112px !important;
  }
}
.offCanvasWithZip {
  max-height: 60vh;
  height: 615px !important;
  max-height: 85vh !important;
  table {
    overflow: hidden;
  }
  @media (max-width: 420px) {
    .offcanvas-body {
      padding: 0.5rem;
    }
  }
  @media (max-width: 325px) {
    .offcanvas-body {
      padding: 0.3rem;
    }
  }
}

.offCanvasWithZipLg {
  display: none !important;
}

@media (min-width: 992px) {
  .offCanvasNoZip {
    background: transparent !important;
    height: 120px !important;
    border-top: none !important;
    pointer-events: none;
    .card-offCanvasNoZip {
      pointer-events: all;
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border-radius: 0.4rem;
      width: fit-content;
      box-shadow: 2px 2px 6px 3px rgba(30, 34, 40, 0.15);
      border: 0;
      padding: 1rem;
    }
  }

  .offCanvasWithZipLg {
    z-index: 10000;
    bottom: 12px !important;
    top: unset !important;
    margin-left: 12px !important;
    width: 450px !important;

    display: flex !important;
    flex-direction: column;
    border-right: none !important;
    pointer-events: none;

    background-color: #fff;
    border-radius: 0.4rem;
    box-shadow: 2px 2px 6px 3px rgba(30, 34, 40, 0.15);

    .offcanvas-header {
      pointer-events: all;
    }
    .offcanvas-body {
      width: 450px !important;
      max-height: 80vh;
      pointer-events: all;
      /* table {
        overflow: hidden !important;
      } */
    }
  }

  .offCanvasWithZip {
    display: none !important;
  }
  .offcanvas-backdrop {
    display: none !important;
  }
}

.mw-240 {
  max-width: 240px;
}
.mw-420 {
  max-width: 420px;
}

.text-bg-primary1 {
  color: #fff !important;
  background-color: #286bce !important;
}

.lh-md {
  line-height: 1.2rem;
}

.cs_moving_wrap_logos {
  background-color: #17191d;
  height: 200px;
  &:hover {
    .cs_moving_logo {
      animation-play-state: paused;
    }
  }
  @media (max-width: 991px) {
    height: 120px;
  }
}
.cs_moving_logos {
  animation: slide-left 20s linear infinite;
  overflow: visible;
  .cs_moving_logos_o,
  .cs_moving_logos_c {
    min-width: 100vw;
    > * {
      height: auto;
      width: 120px;
      @media (max-width: 991px) {
        img {
          width: 80px;
        }
      }
    }
  }
}

.leads-estimated-tr {
  td:last-child {
    line-height: 1.2rem;
    @media (max-width: 420px) {
      padding: 0px;
      height: 60px;
    }
  }
}

.budget-tr {
  td:last-child {
    width: 50%;
  }
}

.limited-offer-tr {
  position: relative !important;
  z-index: 100;
  .limited-offer-bg {
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    border-radius: 12px;

    background-image: linear-gradient(
      117.67deg,
      rgb(30, 34, 40),
      rgb(0, 0, 0),
      rgb(233, 161, 50)
    );
  }

  color: white;
  border: none !important;
  border-radius: 12px !important;
  border-collapse: separate !important;
  border-spacing: 0 !important;
  // overflow: hidden;
  box-shadow: 2px 2px 6px 3px rgba(30, 34, 40, 0.15);
  background-repeat: no-repeat;

  .limited-offer-title {
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
    width: 0px;
    overflow: visible;
  }

  .billing_offer_div {
    margin-top: 8px;
    height: 30px;
    position: relative;
  }
  .billing_offer_p {
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    line-height: 1.2rem;
  }

  @media (max-width: 470px) {
    .billing_offer_div {
      height: 40px;
    }
    .billing_offer_p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      width: 100vw;
    }
  }

  td {
    border-spacing: 0 !important;
    border: none !important;
    background-repeat: no-repeat;
  }
  td:first-child {
    position: relative !important;
    border-top-left-radius: 10px;
  }
  td:last-child {
    border-top-right-radius: 10px;
  }
  td:first-child {
    border-bottom-left-radius: 10px;
  }
  td:last-child {
    border-bottom-right-radius: 10px;
  }
}

.total-tr {
  .total-tr-title {
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
    width: 0px;
    overflow: visible;
  }
  td {
    /* height: 76.79px;
    padding-top: 1.2rem; */
    border: none !important;
  }
}
